/* Outfit Font */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #18171a;
	--text: #ffffff;
	--orange: #ff4601;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #18171a;
		--text: #ffffff;
		--orange: #ff4601;
	}
}

body {
	color: var(--text);
	background-color: var(--background);
	font-family: 'Outfit', 'Roboto', 'ui-sans-serif', 'system-ui', sans-serif;
}

#introduction {
	z-index: -1;
	margin-top: -5rem;
}
